.input {
  font-size: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  margin: 0 auto 2rem;
  caret-color: #fff;
  -moz-appearance: textfield;
  color: #fff;
  padding: 0.5rem 0;
  font-weight: bold;
  width: var(--field-width);
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input:focus,
.input:active {
  outline: none;
}

.label {
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
  font-weight: bold;
  text-align: left;
}

.container {
  display: flex;
  flex-direction: column;
}
