.container {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border-radius: 12px;
  background-color: rgb(44, 47, 54);
  border: 1px solid rgb(64, 68, 79);
  color: #fff;
  user-select: none;
}

@media screen and (max-width: 500px) {
  .container {
    text-align: center;
  }
}
