.container {
  background: linear-gradient(to right, #46bdf4 0%, #2b56f5 100%);
  color: #fff;
  font-weight: 500;
  padding: 0 23px;
  border-radius: 38px;
  line-height: 38px;
  display: flex;
  align-items: center;
}

.container strong {
  margin-right: 5px;
}

.container span {
  margin-right: 8px;
}
