:root {
  --field-width: 75%;
}

.input {
  font-size: 3rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  margin: 1rem auto 2rem;
  caret-color: #fff;
  -moz-appearance: textfield;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0;
  font-weight: bold;
  width: var(--field-width);
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input:focus,
.input:active {
  outline: none;
}

@media screen and (max-width: 900px) {
  .input {
    width: 100%;
    max-width: 100%;
  }
}

.btn {
  width: var(--field-width);
  margin: 0 auto;
  max-width: 300px;
}
